/* UNIVERSAL STYLES */

body {
  margin: 0;
  font-family:"Georgia",serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: mediumaquamarine;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  text-align: center;
}

span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}

/* HEADER */

.navigation {
  display: inline-block;
  padding: 20px 10px;
  font-style: sans-serif;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
  font-family: "helvetica";
  font-size: 18px;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
  /* border: 1px black solid; */
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

header nav {
  padding-right: 40px;
}

/* UNIVERSAL CONTENT STYLES */

.title {
  background-color: white;
  height: auto;
  padding: 0px;
  text-align: left;
  /*border-bottom: 2px black solid;*/
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  /*border: 2px black solid;*/
  padding: 10px 0px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.photo-content {
  display: flex;
  /*border: 2px black solid;*/
}

.section {
  background-color: white;
}

/* MAIN CONTENT CONTAINER */

.container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 120px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  /*outline: 1px solid dimgrey;*/
  z-index: 0;
  /*box-shadow: 2px 2px 2px black;*/

}

/* FIRST NEWS COLUMN */

.twocolumn {
  display: flex;
  flex-direction: row;
}

.orca {
  display: flex;
}

.burger {
  display: flex;
}

.large {
  z-index: 0;
  width: 630px;
  /*outline: 1px solid black;*/
  margin-left: 0px;
  /*box-shadow: 2px 2px 2px black;*/
}

.phish {
  background-image: url("/Stuff/development projects/codecademyprojects/09.NY times/NY Times (codecademy solution)/project/resources/images/img-story-main.png");
  height: 250px;
}

.earth {
  background-image: url("/Stuff/development projects/codecademyprojects/09.NY times/NY Times (codecademy solution)/project/resources/images/img-story-2.png");
  height: 250px;
}

.camera {
  background-image: url("/Stuff/development projects/codecademyprojects/09.NY times/NY Times (codecademy solution)/project/resources/images/img-story-3.png");
  height: 250px;
}

/* SECOND NEWS COLUMN */

.medium {
  z-index: 0;
  width: 300px;
  /*outline: 1px solid black;*/

  /*box-shadow: 2px 2px 2px black;*/
}

.cat {
  background-image: url("/Stuff/development projects/codecademyprojects/09.NY times/NY Times (codecademy solution)/project/resources/images/img-story-1.png");
  height: 250px;
}

/* THIRD NEWS COLUMN */

.small {
  width: 240px;
}

.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: dimgray;
}
